.trending-category {
    .trending-category-link {
        text-decoration: none;
        .trending-category-title {
            margin: 0px 0px 16px;
            font-weight: 500;
            font-size: 16px;
            color: $body-col;
            span {
                display: block;
                font-size: 14px;
                color: colors(link);
            }
        }
    }

    .trending-category-list {
        // display: inline-grid;
        // grid-template-columns: 1fr 1.3fr 1fr;
        // gap: 100px;
        // display: flex;
        .trending-category-card {
            // text-align: center;
            // flex: 1 1 auto;

            // display: flex;
            // align-items: flex-end;
            // display: inline-block;
            height: 152px;
            border-radius: 8px;
            background-color: #d93a3f;
            // min-height: 109.59px;
            width: 100%;
            // word-break: break-all;
            padding: 24px;
            margin-bottom: 10px;
            .trending-category-card-link {
                text-decoration: none;
                color: white;
                h1 {
                    font-size: 18px;
                    margin-bottom: 4px;
                }
                nav {
                    width: 300px;
                    li {
                        display: inline-block;
                        font-size: 12px;
                        text-transform: capitalize;
                    }
                }

                .breadcrumb-item + .breadcrumb-item {
                    padding-left: 0;
                }
            }
        }
    }
}
/*
    ? MEDIA SCREENS == 768px;
*/

@media screen and (min-width: 768px) {
    .trending-category {
        .trending-category-list {
            .trending-category-card {
                min-height: 104px;
                padding: 24px;
                margin-bottom: 0;
            }
        }
    }
}
