$navbar_bg_col: #f6f5f4;
$nav-link-col: #85807c;
$nav-link-col_2: #85807c;
$p-col: #007acd;
$b-col: #007acd;
$o-col: #f3632d;
$r-col: #d93a3f;
$g-col: #1b8840;
$a-col: #76716d;
$nb-col: #5f6f88;
$body-col: #44413d;
$body_bg_col: #f6f5f4;
$body_bg_col-2: rgb(232, 230, 227);
$btn: #007acd;
$auction_card_border_col: #ffd972;
$auction_card_border_bg: #ffc041;
$footer_bg_col: #f6f5f4;
