// ! TOTAL COUNT COMPONENT
.total_count_component {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // .total_count_component_result,
    // .total_count_component_option {
    // }
    .total_count_component_option {
        background-color: white;
        // border: 1px solid #d7d5d2;

        // .select-dropdown-btn {
        // }
    }
    // .total_count_component_result {
    // }
}

// ! PAGINATION COMPONENT
.pagination_div {
    padding: 20px 0;
    .paginated {
        font-weight: bold;
        color: $body-col;
    }
    ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        li {
            padding: 0 16px;
            a {
                text-transform: capitalize;
                font-size: 16px;
                color: $b-col;
                text-decoration: none;
            }
        }
    }
}
// ! BACK TO TOP
.back_to_top {
    text-align: center;
    padding: 16px 0;
    a.nav-link {
        color: $b-col;
    }
}

// ! MORE BUTTON
.more_button {
    margin: 20px;
    text-align: center;
    padding: 16px 0;
    a.nav-link {
        color: $b-col;
    }
}



/*
    ? MEDIA SCREENS == 768px;
*/

@media screen and (min-width: 768px) {
    // .auction_card_rec {
    //     .auction_card_rec_img_and_seller {
    //         .auction_card_img {

    //         }
    //         .auction_card_seller {

    //         }
    //     }
    //     .auction_card_details {}
    // }
    .total_count_component {
        // padding: 16px 0;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;

        .total_count_component_option {
            order: 1;
        }
        // .total_count_component_result {
        // }
    }
}

@media screen and (max-width: 768px) {
    // ! PAGINATION COMPONENT
    .pagination_div {
        padding: 8px 0;
        ul {
            li {
                padding: 0 6px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .total_count_component {
        flex-wrap: wrap !important;

        div {
            width: 100% !important;
            &:first-child {
                order: 1;
                margin-bottom: 16px;
            }
        }
    }
}