// ! AUCTION RECTANGULAR CARD
.auction_card_rec {
    background-color: #ffe5ec;
    display: flex;
    margin-bottom: 20px;
    .auction_card_rec_img_and_seller {
        // display: inline-block;
        width: 414px;
        img {
            width: 100%;
        }
        // height: 310.5px;
        .auction_card_seller {
            background-color: $body_bg_col-2;
            text-align: center;
            padding: 5px 0;

            img {
                height: 40px;
                width: 120px;
            }
        }
    }
    .auction_card_details {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .auction_card_detail_body {
            flex: 2;
            *:not(span h6){
                text-transform: capitalize;
                margin: 20px 0;
            }

            *:not(h4) {
                font-weight: 300;
            }

            h6 i {
                padding-right: 10px;
                font-size: 20px;
            }
        }
        .auction_card_detail_footer {
            * {
                display: inline-block;
            }
            padding-top: 10px;
            text-align: right;
            border-top: 1px solid #cbcbcb;
        }
        
    }
}
// ! TOTAL COUNT COMPONENT
.total_count_component {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .total_count_component_result, .total_count_component_option {
    }
    .total_count_component_option {
        background-color:white;
        border: 1px solid #d7d5d2;

        .select-dropdown-btn {
            
        }
    }
    .total_count_component_result {

    }
}

// ! PAGINATION COMPONENT
.pagination_div {
    padding: 20px 0;
    .paginated {
        font-weight: bold;
        color: $body-col;
    }
    ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        li {
            padding: 0 16px;
            a {
                text-transform: capitalize;
                font-size: 16px;
                color: $b-col;
                text-decoration: none;
            }
        }
    }
}

/*
    ? MEDIA SCREENS == 768px;
*/

@media screen and (min-width: 768px) {
    // .auction_card_rec {
    //     .auction_card_rec_img_and_seller {
    //         .auction_card_img {
    
    //         }
    //         .auction_card_seller {
    
    //         }
    //     }
    //     .auction_card_details {}
    // }
    .total_count_component {
        // padding: 16px 0;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;

        .total_count_component_option {
            order: 1;
        }
        .total_count_component_result {}
    
    }
}

@media screen and (max-width: 768px){
    // ! PAGINATION COMPONENT
.pagination_div {
    padding: 8px 0;
    ul {
        li {
            padding: 0 6px;
        }
    }
}
}