$font-weights: (
    'regular': 400,
    'medium': 500,
    'bold': 700,
);

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

$app_colors: (
    'primary': #006ebd,
    'primary2': #007acd,
    'primary3': #00558f,
    'primary4': #0066cc,
    '_orange': #f3632d,
    '_yellow': #f9af2c,
    '_yellow2': #fbcc48,
    '_yellow3': #ffcb4f,
    '_red': #d93a3f,
    '_red2': #e34647,
    '_red3': #9f2023,
    '_green': #1b8840,
    '_green2': #00aa76,
    '_green3': #009166,
    '_f_green': #29a754,
    'link': #85807c,
    'link2': #76716d,
    '_white': #fff,
    '_black': #44413d,
    '_black2': #65605d,
    '_black3': #343434,
    '_gray': #555555,
    '_gray2': #333333,
    '_gray3': #666666,
    '_grey': #e8e6e3,
    '_grey2': #d7d5d2,
    '_grey3': #f7f7f7,
    '_grey4': #f8f8f8,
    'nothing': 'transparent',
    '_whitesmoke': #f6f5f4,
    'th-border-col': #dee2e6,
    'table-border': #c1c1c1,
    'tab-col': blue,
    '_coffee': #ad5319,
    '_coffee2': #ef900c,
    '_coffee3': #943900,
    '_navyblue': #323a4d,
    '_purple': #944275
);

@function colors($color-name) {
    @return map-get($app_colors, $color-name);
}

._yellow {
    color: colors(_yellow) !important;
    fill: colors(_yellow) !important;
}
._green {
    color: colors(_green) !important;
}

._f_green {
    color: colors(_f_green) !important;
}

._red {
    color: colors(_red) !important;
}

._white {
    color: colors(_white) !important;
    fill: colors(_white) !important;
}

._black {
    color: colors(_black) !important;
    fill: colors(_black) !important;
}

._black2 {
    color: colors(_black2) !important;
    fill: colors(_black2) !important;
}
._link {
    color: colors(link) !important;
}
._gray {
    color: colors(_gray) !important;
}

._blue {
    color: colors(primary) !important;
    fill: colors(primary) !important;
}
._blue2 {
    color: colors(primary2) !important;
    fill: colors(primary2) !important;
}
._blue3 {
    color: colors(primary3) !important;
}
._coffee3 {
    color: colors(_coffee3) !important;
    fill: colors(_coffee3) !important;
}


._lite_grey_BG {
    background-color: colors(_whitesmoke) !important;
}

._blue_BG {
    background-color: colors(primary) !important;
}

._red_BG {
    background-color: colors(_red) !important;
}

._orange_BG {
    background-color: colors(_orange) !important;
}

._black_BG {
    background-color: colors(_black) !important;
}

._gray_BG {
    background-color: colors(_gray) !important;
}

._f_green_BG {
    background-color: colors(_f_green) !important;
}
._white_BG {
    background-color: colors(_white) !important;
}

.transparent {
    background-color: transparent !important;
    &:hover {
        background-color: transparent !important;
        color: currentColor;
    }
}

// FONT SIZES

.f-32 {
    font-size: 32px !important;
}
.f-28 {
    font-size: 28px !important;
}
.f-24 {
    font-size: 24px !important;
}
.f-20 {
    font-size: 20px !important;
}
.f-18 {
    font-size: 18px !important;
}
.f-16 {
    font-size: 16px !important;
}
.f-14 {
    font-size: 14px !important;
}
.f-12 {
    font-size: 12px !important;
}
.f-11 {
    font-size: 11px !important;
}
.f-10 {
    font-size: 10px !important;
}

// Border
.border-0 {
    border: none !important;
}
.border-1 {
    border-width: 1px !important;
}

// Flex

.flex-0 {
    flex: 0 auto;
}
.flex-1 {
    flex: 1 !important;
}
.flex-2 {
    flex: 2 !important;
}
.flex-3 {
    flex: 3 !important;
}

// Font weight
.fw-none {
    font-weight: weight(regular) !important;
}
.fw-normal {
    font-weight: weight(medium) !important;
}

// Border radius
.rad-3 {
    border-radius: 3px !important;
}