$font-weights: (
    'regular': 400,
    'medium': 500,
    'bold': 700,
);

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

$app_colors: (
    'primary': #007acd,
    '_orange': #f3632d,
    '_red': #d93a3f,
    '_green': #1b8840,
    'link': #76716d,
    '_white': #fff,
    '_black': #44413d,
    '_black2': #65605d,
    '_grey': #e8e6e3,
    '_grey2': #d7d5d2,
    'nothing': 'transparent',
    'table-head-bg': #f6f5f4,
    'th-border-col': #dee2e6,
    'table-border': #c1c1c1
);

@function colors($color-name) {
    @return map-get($app_colors, $color-name);
}

._green {
    color: colors(_green) !important;
}

._red {
    color: colors(_red) !important;
}

._white {
    color: colors(_white) !important;
}

._blue {
    color: colors(primary) !important;
}
._lite_grey_BG {
    background-color: colors(table-head-bg) !important;
}
