@mixin d-flex-row-center($direction: row, $justify-content: center){
    display: flex;
    justify-content: $justify-content;
    flex-direction: $direction;
    align-items: center;
    align-content: center;
}

@mixin d-flex($direction: row, $justify-content: space-between, $align-items: normal){
    display: flex;
    justify-content: $justify-content;
    flex-direction: $direction;
    align-items: $align-items;
}

@mixin d-flex-center() {
    display: flex;
    justify-content: center;
    // align-items: center;
}


// DISPLAY
@include mobile-min(768px) {
    .d-mt-none {
        display: none !important;
    }

    .flex-mt-col {
        flex-direction: column !important;
    }

    .flex-mt-row {
        flex-direction: row !important;
    }
}
@include mobile-max(768px) {
    .d-mb-none {
        display: none !important;
    }

    .flex-md-col {
        flex-direction: column !important;
    }

    .flex-md-row {
        flex-direction: row !important;
    }
}

@include mobile-max(425px) {
    .d-sb-none {
        display: none !important;
    }

    .flex-sd-col {
        flex-direction: column !important;
    }

    .flex-sd-row {
        flex-direction: row !important;
    }
}

@include mobile-max(375px) {
    .d-xb-none {
        display: none !important;
    }

    .flex-xd-col {
        flex-direction: column !important;
    }

    .flex-xd-row {
        flex-direction: row !important;
    }
}
