@mixin d-flex-row-center($direction: row, $justify-content: center){
    display: flex;
    justify-content: $justify-content;
    flex-direction: $direction;
    align-items: center;
    align-content: center;
}

@mixin d-flex($direction: row, $justify-content: space-between, $align-items: normal){
    display: flex;
    justify-content: $justify-content;
    flex-direction: $direction;
    align-items: $align-items;
}

@mixin d-flex-center() {
    display: flex;
    justify-content: center;
    // align-items: center;
}


// DISPLAY
@include mobile-max(768px) {
    .d-mb-none {
        display: none !important;
    }
}

@include mobile-max(425px) {
    .d-sb-none {
        display: none !important;
    }
}