@use 'sass:string';

// @mixin  border($axis: normal, $width: 1px, $style: solid, $color) {
//     @if $axis == normal {
//      @debug (unquote("border-#{$axis}:")$width $style $color)
//     } @else {
//         border: $width $style $color;
//     }
// }

$footer_border: 7.99px;

.__g-footer-border,
._f_green-border {
    border-top: $footer_border solid colors(_f_green);
}

.__o-footer-border {
    border-top: $footer_border solid colors(_orange);
}

.__y-footer-border {
    border-top: $footer_border solid colors(_yellow);
}

.__r-footer-border {
    border-top: $footer_border solid colors(_red);
}

.__b-footer-border {
    border-top: $footer_border solid #555555;
}

.__gray-footer-border {
    border-top: $footer_border solid colors(_gray);
}

.__blue-footer-border {
    border-top: $footer_border solid colors(primary);
}

.footer {
    background-color: white;
    display: block;
    color: hsl(23, 4%, 38%);
    --border-height: 7.99px;
    // border-top: var(--border-height) solid colors(_orange);

    .footer_top_div {
        padding: 24px 0;

        .footer_global {
            padding-bottom: 24px;
            border-bottom: 1px solid #d7d5d2;

            .footer_global_nav {
                .nav-link {
                    text-transform: capitalize;
                    font-size: 14px;
                    color: inherit;
                }
            }
        }

        .footer_vertical_link {
            .row {
                div {
                    margin: 20px 0;

                    ul li a {
                        text-transform: capitalize;
                        display: inline;
                    }
                }

                // & > ul > li:first-child > a {
                //     color: red;
                // }
                & div:first-child > ul > li:first-child > a {
                    color: #d93a3f;
                }

                & div:nth-child(2) > ul > li:first-child > a {
                    color: #f3632d;
                }

                & div:nth-child(3) > ul > li:first-child > a {
                    color: #5f6f88;
                }

                & div:nth-child(4) > ul > li:first-child > a {
                    color: #29a754;
                }

                & div:nth-child(5) > ul > li:first-child > a {
                    color: #555;
                }

                & div:last-child > ul > li:first-child > a {
                    color: #148fe2;
                }
            }
        }
    }

    .footer_bottom_div {
        padding: 24px 0;
        background-color: $footer_bg_col;

        div {
            display: flex;
            align-items: center;

            .copy-right {
                // order: 1;
                font-size: 12px;
            }

            ul {
                flex: 3;
                display: inline-block;
                text-align: center;

                li {
                    display: inline-block;
                    padding: 0px 16px 0px 0px;

                    a {
                        font-size: 12px;
                        text-transform: capitalize;
                        color: #76716d;
                    }
                }
            }

            .logo-icons {
                flex: 1;
                justify-content: space-between;

                img {
                    height: 32px;
                }

                a {
                    display: inline-block;
                    margin: 0 5px;

                    .fa {
                        color: #76716d;
                        font-size: 20px;

                        &:hover {
                            color: #76716d;
                        }
                    }
                }
            }

            .copy-right {
                .logo-icons {
                    display: none !important;
                }
            }
        }
    }
}

.welcome-banner {
    div {
        display: inline-block;
    }

    .welcome-banner-header {
        padding-right: 30px;
        display: inline-block;

        * {
            display: inherit;
        }

        span {
            padding: 4px 8px;
            color: white;
            font-size: 12px;
            background-color: $btn;
        }
    }

    .welcome-banner-buttons {
        display: inline-block;

        * {
            display: inline-block;
            // font-size: 12px;
            color: $btn;
        }
    }
}

.footer_tw {
    padding: 20px 0;
    // margin-top: 70px;
    width: 100%;
    min-width: 980px;
    background-color: colors(_black3);

    .active {
        background-color: #222 !important;
        border-color: #222 !important;
        -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5) !important;
        -webkit-box-shadow: inset 0 1px 5px rgb(0 0 0 / 50%) !important;
        box-shadow: inset 0 1px 5px rgb(0 0 0 / 50%) !important;
        color: #fff;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjIyMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
        background-size: 100%;
        background-image: -webkit-gradient(
            linear,
            50% 0%,
            50% 100%,
            color-stop(0%, #222),
            color-stop(100%, #333)
        ) !important;
        background-image: -moz-linear-gradient(#222, #333) !important;
        background-image: -webkit-linear-gradient(#222, #333) !important;
        background-image: linear-gradient(#222, #333) !important;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 10px 142.5px 0;
    }

    .footer-section {
        background: #343434;
        margin: 10px;
        border: 1px solid #444;
        height: 178px;
        -moz-border-radius: 3.01px;
        -webkit-border-radius: 3.01px;
        border-radius: 3.01px;
        zoom: 1;
    }

    .footer-links {
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        width: 638px;
        overflow: hidden;
        padding: 20px;

        a.nav-link {
            color: #ccc;
            font-weight: weight(bold);
            font-size: 16px;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    .footer-sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 30px 30px 20px;
        .copyright {
            font-size: 12.5px;
            color: #999;
        }
        a {
            color: colors(_white);
            font-size: 14px;
        }

        .choose-platform {
            display: flex;
        }
        .choose-platform .footer-btn {
            &:hover {
                background-image: -webkit-gradient(
                    linear,
                    50% 0%,
                    50% 100%,
                    color-stop(0%, rgb(75, 75, 75)),
                    color-stop(100%, rgb(28, 28, 28))
                );
            }

            background-color: #444;
            padding: 3px 20px;
            border-color: #222;
            text-decoration: none;
            -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%);
            box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%);
            color: #ccc;
            text-shadow: 0 1px 0 rgb(0 0 0 / 50%);
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
            background-size: 100%;
            background-image: -webkit-gradient(
                linear,
                50% 0%,
                50% 100%,
                color-stop(0%, #444),
                color-stop(100%, #333)
            );
            background-image: -moz-linear-gradient(#444, #333);
            background-image: -webkit-linear-gradient(#444, #333);
            background-image: linear-gradient(#444, #333);
            padding: 0px ​ !important;
            border-radius: 3.01px 0 0 3.01px;
            &:last-child {
                border-radius: 0 3.01px 3.01px 0;
            }
        }
    }
}

.footer_sm {
    padding: 20px 0;
    // margin-top: 70px;
    width: 100%;
    min-width: 980px;
    background-color: colors(_black3);

    .row {
        display: flex;
        justify-content: space-between;
    }

    .sm_footer-border {
        border: 1px solid #444;
        display: flex;
    }

    .footer-sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 30px 30px 20px;
        .copyright {
            font-size: 12.5px;
            color: #999;
        }
        a {
            color: colors(_white);
            font-size: 14px;
        }

        .choose-platform {
            display: flex;
        }
        .choose-platform .footer-btn {
            &:hover {
                background-image: -webkit-gradient(
                    linear,
                    50% 0%,
                    50% 100%,
                    color-stop(0%, rgb(75, 75, 75)),
                    color-stop(100%, rgb(28, 28, 28))
                );
            }

            background-color: #444;
            padding: 3px 20px;
            border-color: #222;
            text-decoration: none;
            -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%);
            box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%);
            color: #ccc;
            text-shadow: 0 1px 0 rgb(0 0 0 / 50%);
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
            background-size: 100%;
            background-image: -webkit-gradient(
                linear,
                50% 0%,
                50% 100%,
                color-stop(0%, #444),
                color-stop(100%, #333)
            );
            background-image: -moz-linear-gradient(#444, #333);
            background-image: -webkit-linear-gradient(#444, #333);
            background-image: linear-gradient(#444, #333);
            padding: 0px ​ !important;
            border-radius: 3.01px 0 0 3.01px;
            &:last-child {
                border-radius: 0 3.01px 3.01px 0;
            }
        }
    }
}

/*
    ? MEDIA SCREENS == 767px;
*/
@media screen and (max-width: 767px) {
    .welcome-banner {
        div {
            padding-bottom: 5px;

            .welcome-banner-header {
                * {
                    padding: 0;
                    margin: 0;
                }
            }

            .welcome-banner-buttons {
                .nav-link {
                    display: block !important;
                }
            }
        }
    }

    .footer {
        &::before {
            height: calc(--border-height / 2);
        }

        .footer_top_div {
            display: none !important;

            .footer_global {
                .logo {
                    img {
                        height: 15.33px;
                        // width: ;
                    }
                }

                // .footer_global_nav {
                //     .nav-link {
                //     }
                // }
            }
        }

        .footer_bottom_div {
            div {
                flex-direction: column !important;
                align-items: unset !important;

                ul.navbar-nav {
                    display: -webkit-inline-box !important;
                    overflow: hidden;
                    width: 100%;
                    max-width: 1998px;
                    overflow-x: scroll;
                    // flex-wrap: nowrap;

                    order: -1;
                    display: flex;
                    flex-direction: row;

                    li.nav-item {
                        // position: absolute;
                        display: block !important;

                        a.nav-link {
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            ::-webkit-scrollbar {
                width: 0;
                /* Remove scrollbar space */
                background: transparent;
                /* Optional: just make scrollbar invisible */
            }

            /* Optional: show position indicator in red */
            ::-webkit-scrollbar-thumb {
                background: transparent;
            }

            .logo-icons {
                display: none !important;
            }

            .copy-right {
                display: flex !important;
                flex-direction: row !important;

                #copy-right-logo-icons {
                    display: block !important;
                    text-align: right !important;
                    // span {
                    //     flex: 1 !important;
                    // }
                }
            }
        }
    }
}

/*
    ? MEDIA SCREENS == 768px;
*/
@media screen and (min-width: 768px) {
    .footer {
        &::before {
            height: calc(--border-height / 2);
        }

        .footer_top_div {
            .footer_global {
                .logo {
                    img {
                        height: 15.33px;
                        // width: ;
                    }
                }

                // .footer_global_nav {
                //     .nav-link {
                //     }
                // }
            }
        }
    }

    .welcome-banner-buttons a {
        padding-right: 16px;
    }
}

/*
    ? MEDIA SCREENS == 1023px;
*/
@media screen and (min-width: 1023px) {
    .footer_bottom_div {
        flex-direction: column;
    }
}
