@use "sass:string";

// @mixin  border($axis: normal, $width: 1px, $style: solid, $color) {
//     @if $axis == normal {
//      @debug (unquote("border-#{$axis}:")$width $style $color)
//     } @else {
//         border: $width $style $color;
//     }
// }

$footer_border: 7.99px;

.__g-footer-border {
    border-top: $footer_border solid colors(_f_green);
}
.__o-footer-border {
    border-top: $footer_border solid colors(_orange);
}
.__r-footer-border {
    border-top: $footer_border solid colors(_red);
}
.__b-footer-border {
    border-top: $footer_border solid #555555;
}

.footer {
    background-color: white;
    display: block;
    color: hsl(23, 4%, 38%);
    --border-height: 7.99px;
    // border-top: var(--border-height) solid colors(_orange);

    .footer_top_div {
        padding: 24px 0;
        .footer_global {
            padding-bottom: 24px;
            border-bottom: 1px solid #d7d5d2;
            .footer_global_nav {
                .nav-link {
                    text-transform: capitalize;
                    font-size: 14px;
                    color: inherit;
                }
            }
        }
        .footer_vertical_link {
            .row {
                div {
                    margin: 20px 0;
                    ul li a {
                        text-transform: capitalize;
                        display: inline;
                    }
                }
                // & > ul > li:first-child > a {
                //     color: red;
                // }
                & div:first-child > ul > li:first-child > a {
                    color: #d93a3f;
                }
                & div:nth-child(2) > ul > li:first-child > a {
                    color: #f3632d;
                }
                & div:nth-child(3) > ul > li:first-child > a {
                    color: #5f6f88;
                }
                & div:nth-child(4) > ul > li:first-child > a {
                    color: #29a754;
                }
                & div:nth-child(5) > ul > li:first-child > a {
                    color: #555;
                }
                & div:last-child > ul > li:first-child > a {
                    color: #148fe2;
                }
            }
        }
    }
    .footer_bottom_div {
        padding: 24px 0;
        background-color: $footer_bg_col;
        div {
            display: flex;
            align-items: center;
            .copy-right {
                // order: 1;
                font-size: 12px;
            }
            ul {
                flex: 3;
                display: inline-block;
                text-align: center;
                li {
                    display: inline-block;
                    padding: 0px 16px 0px 0px;
                    a {
                        font-size: 12px;
                        text-transform: capitalize;
                        color: #76716d;
                    }
                }
            }

            .logo-icons {
                flex: 1;
                justify-content: space-between;
                img {
                    height: 32px;
                }
                a {
                    display: inline-block;
                    margin: 0 5px;
                    .fa {
                        color: #76716d;
                        font-size: 20px;
                        &:hover {
                            color: #76716d;
                        }
                    }
                }
            }

            .copy-right {
                .logo-icons {
                    display: none !important;
                }
            }
        }
    }
}

.welcome-banner {
    div {
        display: inline-block;
    }
    .welcome-banner-header {
        padding-right: 30px;
        display: inline-block;
        * {
            display: inherit;
        }
        span {
            padding: 4px 8px;
            color: white;
            font-size: 12px;
            background-color: $btn;
        }
    }
    .welcome-banner-buttons {
        display: inline-block;
        * {
            display: inline-block;
            // font-size: 12px;
            color: $btn;
        }
    }
}
/*
    ? MEDIA SCREENS == 767px;
*/
@media screen and (max-width: 767px) {
    .welcome-banner {
        div {
            padding-bottom: 5px;

            .welcome-banner-header {
                * {
                    padding: 0;
                    margin: 0;
                }
            }
            .welcome-banner-buttons {
                .nav-link {
                    display: block !important;
                }
            }
        }
    }
    .footer {
        &::before {
            height: calc(--border-height / 2);
        }
        .footer_top_div {
            display: none !important;
            .footer_global {
                .logo {
                    img {
                        height: 15.33px;
                        // width: ;
                    }
                }
                // .footer_global_nav {
                //     .nav-link {
                //     }
                // }
            }
        }
        .footer_bottom_div {
            div {
                flex-direction: column !important;
                align-items: unset !important;
                ul.navbar-nav {
                    display: -webkit-inline-box !important;
                    overflow: hidden;
                    width: 100%;
                    max-width: 1998px;
                    overflow-x: scroll;
                    // flex-wrap: nowrap;

                    order: -1;
                    display: flex;
                    flex-direction: row;

                    li.nav-item {
                        // position: absolute;
                        display: block !important;

                        a.nav-link {
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            ::-webkit-scrollbar {
                width: 0; /* Remove scrollbar space */
                background: transparent; /* Optional: just make scrollbar invisible */
            }
            /* Optional: show position indicator in red */
            ::-webkit-scrollbar-thumb {
                background: transparent;
            }

            .logo-icons {
                display: none !important;
            }

            .copy-right {
                display: flex !important;
                flex-direction: row !important;
                #copy-right-logo-icons {
                    display: block !important;
                    text-align: right !important;
                    // span {
                    //     flex: 1 !important;
                    // }
                }
            }
        }
    }
}

/*
    ? MEDIA SCREENS == 768px;
*/
@media screen and (min-width: 768px) {
    .footer {
        &::before {
            height: calc(--border-height / 2);
        }
        .footer_top_div {
            .footer_global {
                .logo {
                    img {
                        height: 15.33px;
                        // width: ;
                    }
                }
                // .footer_global_nav {
                //     .nav-link {
                //     }
                // }
            }
        }
    }

    .welcome-banner-buttons a {
        padding-right: 16px;
    }
}

/*
    ? MEDIA SCREENS == 1023px;
*/
@media screen and (min-width: 1023px) {
    .footer_bottom_div {
        flex-direction: column;
    }
}
