.help-pg-dropdown {
    display: none;

    button {
        color: colors(_white);
    }

    @include mobile-max(768px) {
        display: inline-block;

        button {
            padding: 0 !important;
        }
    }
}

.active {
    a {
        opacity: 23;
        background: #00000033;
        display: inline;
        padding: 7px 10px !important;
        border-radius: 5px;
    }
}
.help-pg-ul {
    flex-direction: row !important;
    justify-content: space-between;
    padding-bottom: 16px;

    li {
        padding: 4px 30px 4px 0;
        a.nav-link {
            color: colors(_white);
            font-weight: weight(medium);
            text-decoration: none;
            font-size: 16px;
        }
        &:last-child {
            flex: 2;
            text-align: right;
            padding-right: 0;
        }
    }

    @include mobile-max(768px) {
        display: inline-block;
        float: right;

        li.nav-item {
            display: none;

            &:last-child {
                display: block !important;
            }
        }
    }
}
.flash-card {
    .card {
        * {
            font-size: 16px;
            color: colors(_black2) !important;
        }
        cursor: pointer;
        border: 1px solid #e8e6e3;
        transition: box-shadow 0.2s ease-out;
        background-color: #fff;
        border-radius: 6px;
        max-height: 180px;
        height: 100%;

        &:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        }

        .card-body {
            p {
                font-size: 14px;

                margin: 10px 0 0 0 !important;
            }
        }

        .card-footer {
            background-color: transparent !important;
            border: none !important;
            padding-top: 0;
            a.nav-link {
                color: colors(primary) !important;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.categories-we-help {
    .card {
        padding: 16px;
        display: flex;
        flex-direction: row;
        background-color: #fff;
        border: none;
        border-bottom: 2px solid #e8e6e3;

        .card-header {
            width: 22%;
            position: relative;
            background-size: contain !important;
            background-repeat: no-repeat !important;
            padding: 0;
            border: none;
        }
        .card-body {
            flex: 2;
            padding: 0 0 0 12px !important;
            margin: 0;
            display: flex;
            flex-direction: column;

            .faq-title {
                font-weight: weight(medium) !important;
                font-size: 18px;
                color: colors(primary) !important;
            }

            p {
                margin: 0 0 10px 0;
            }
        }
    }
}

.community-banner-section {
    .community-banner {
        display: flex;
        justify-content: space-between;

        @include mobile-max(767px) {
            flex-direction: column;

            .banner-content button {
                width: 100%;
            }

            .banner-img {
                background-position: center !important;
                height: 200px;
            }
        }
    }
    .banner-content {
        flex: 1;

        h1 {
            margin-top: 42px;
            color: colors(primary);
        }
        p {
            padding: 16px 0;
            font-size: 16px;
            margin: 0;
        }
        button {
            padding: 12px 24px;
            margin-bottom: 42px;
        }
    }

    .banner-img {
        background-size: contain !important;
        flex-basis: auto !important;
        flex: 1;
        background-repeat: no-repeat !important;
        background-position: bottom right !important;
    }
}

.help_details {
    ul.navbar {
        gap: 16px;
        flex-direction: column;
        background-color: transparent !important;

        ul {
            display: none;
        }
        
        .active {
            color: #5a5653 !important;
            position: relative;
            padding: 0 !important;
            
            .nav-link {
                padding: 0 !important;
                font-weight: weight(bold);
            }

            
            ul {
                .active_selected {
                    border-left: 3px solid #5a5653;                
                }
                display: block;
                margin: 0 0 0 35px;
                li {
                    a {
                        font-weight: weight(regular) !important;
                    }
                    padding-left: 15px;
                }
            }

        }

        li.nav-item {
            margin: 15px 0;
            a.nav-link {
                text-decoration: none;
                color: colors(_black4);
                font-size: 16px;
                display: inline;
                background-color: transparent !important;
            }
        }
    }

    // #help_sidebar {
    // }
    .was-helpful-div {
        .was-helpful-div-action {
            .active {
                position: relative;
                z-index: 1;
                border: 2px solid #65605d !important;
                // box-shadow: 0 0 0 1px #65605d inset;
                cursor: default;
                font-weight: 500;
            }
        }
        div {
            &:last-child {
                @include mobile-max(768px) {
                    flex: 1 !important;
                }
            }
            &:first-child {
                @include mobile-max(768px) {
                    flex: 2 !important;
                }
            }
        }

        .was-helpful-div-more {
            button {
                background-color: colors(_whitesmoke2);
                border-radius: 3px;
                border: none !important;
                &:hover {
                    background-color: colors(_whitesmoke) !important;
                }
            }
            .helpful-yes, .helpful-no  {
                display: none;
            }
            textarea {
                width: 100%;
                resize: none; 
                height: 70px; 
                border-radius: 4px;
                border-color: lightgrey;
                padding:8px 10px ;
                &:focus-within {
                    border: 2px solid colors(_black);
                }
            }
        }
    }
}
