.hero_div {
    position: relative;
    display: block;
    background-color: #f6f5f4;

    .hero_top {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 250px;
        width: 100%;
    }

    .hero_bottom {
        margin-top: -60px;
        // #myTab {
        //     // border-bottom: 1px solid grey;
        // }
        .box-shadow {
            box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
            background-color: colors(_white);
            border-radius: 6px 6px 0 0;
            overflow: hidden;
        }

        ul#myTab {
            @include d-flex(row);
            // display: grid;
            // grid-template-columns: 1fr 1fr 2fr 1fr 2fr 2fr; 
            li {
                margin: 0px;
                flex-grow: 1;
                box-shadow: -1px 0 colors(_grey2);
                cursor: pointer;
                box-shadow: -1px 1px #d7d5d2;

    

                a.nav-link {
                    border-radius: 0;
                    padding: 7px 0;
                    text-transform: capitalize;
                    font-size: 16px;
                    background-color: transparent;
                    color: colors(_black) !important;
                    font-weight: weight(regular);
                    text-decoration: none;
                    display: flex;
                    justify-content: space-evenly;
                    width: 100%;
                    height: 100%;
                    svg {
                        padding: 0px;
                        fill: colors(primary);
                        width: 24;
                        @include mobile-max(1024px) {
                            display: none;
                        }
                    }
                }
            }
            .active {
                background-color: #323a4d !important;
            
                * {
                    color: colors(_white) !important;
                    fill: colors(_white);
                }
            }

            @include mobile-max(1023px) {
                li button .fa {
                    display: none;
                }
            }
            @include mobile-max(950px) {
                li button {
                    padding: 10px 5px !important;
                }
            }
            @include mobile-max(767px) {
                display: none !important;
            }
        }

        .myTab-sm-scrn {
            display: none;
            background-color: colors(_white);
            padding: 16px 24px 10px 16px;
            @include mobile-max(767px) {
                display: block !important;
                .myTab-sm-scrn-title {
                    font-size: 16px;
                    color: colors(link);
                    margin-bottom: 10px;
                }
               .active {
                    color: red;
                    // background-color: #fbfbfb;
                    border-color: #dee2e6 #dee2e6 #fff;
                    background-color: colors(_navyblue) !important;
                    // border-radius: 8px 8px 0 0;
                    * {
                        fill: colors(_white) !important;
                        color: colors(_white) !important;
                    }
                }

                ul.nav-tabs {
                    width: 100%;
                    flex-wrap: nowrap !important;
                    max-width: 1600px;
                    overflow-x: scroll;
                    display: flex !important;
                    flex-direction: row !important;
                    padding-bottom: 24px;
                    

                    li.nav-item {
                        display: block;
                        padding: 0 3px;

                        &:first-child {
                            padding-left: 0;
                        }
                        a {
                            padding: 0;
                            // word-break: break-all;
                            color: #323a4d !important;
                            text-decoration: none;
                            cursor: pointer;
                            font-size: 14px;
                            line-height: 15px;
                            text-align: center;
                            height: 88.91px;
                            width: 101.25px;
                            border-radius: 6px;
                            border: 1px solid colors(_grey2);
                            background-color: colors(_white);
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            
                            svg {
                                fill: colors(primary);
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }

        .hero_bottom_nav {
            padding: 0 24px 24px 24px;


            ul#my_bottom_tab {
                border-radius: 0;
                margin-bottom: 10px;
                display: flex;
                flex-direction: row;
                border-bottom: none;
                .active {
                    border: 2px solid #65605d !important;
                    * {
                        color: #65605d !important;
                        font-weight: weight(medium) !important;
                    }
                }
                
                li.nav-item {
                    border: 1px solid #d7d5d2;
                    box-sizing: content-box;
                    font-size: 16px;
                    text-transform: capitalize;
                    text-align: center;
                    cursor: pointer;
                    padding: 5px 0;

                    width: 144px;
                    @include mobile-max(425px) {
                        width: auto;
                        flex-grow: 1;
                    }
                    a.nav-link {
                        background: transparent;
                        padding: 0 !important;
                        color: color(link);
                        text-decoration: none;
                        font-weight: 300;
                        border: none;
                        
                        &:hover {
                            color: colors(link) !important;
                        }
                    }
                    // &:first-child {
                    //     border-radius: 3px 0 0 3px;
                    // }
                    // &:last-child {
                    //     border-radius: 0 3px 3px 0;
                    // }
                }
            }
            @include mobile-min(768px) {
                li {
                    width: 144px;
                }
            }

            .search_box {
                margin-top: 15px;
                .search_box_form {
                    label {
                        font-weight: weight(medium);
                        margin-bottom: 3px;
                    }
                    
                    .form-select:disabled {
                        opacity: 0.4;
                        cursor: not-allowed;
                    }
                    .form-select-year {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .form-select {
                            width: 40% !important;
                        }

                        .fa {
                            font-weight: 100;
                        }
                    }
                }
            }

            .rotate-180 {
                transform: rotate(180deg);
            }

            .other-opts {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: 20px;       
                
                @include mobile-max(425px) {
                    flex-direction: column;

                    div {
                        width: 100%;
                    }
                }
                div {
                    // &:nth-child(2) {
                        //     flex: 2;
                        // }
                    @include mobile-max(768px) {
                        flex: 1 !important;
                    }
                    button {
                        background-color: colors(primary);  
                        padding: 4px  24px;
                        height: auto;
                        width: 100%;

                        input[type="checkbox"] {
                            position: relative;
                        }
                    }

                    a {
                        font-weight: 500;
                        font-size: 16px;
                        color: colors(primary);
                    }

                }
                
                #bg-check {
                    display: inline-flex;
                    align-items: center;
                    font-size: 16px;
                    input[type=checkbox] {
                        width: 22px;
                        height: 22px;
                        margin-right: 15px;
                    }
                    
                   
                }
            }

        }
        ul,
        .tab-content {
            background-color: #ffff;
        }

        #myTabContent {
            input,
            button {
                height: 37px;
            }
        }

        .all-cate {
            li.nav-item {
                &:first-child {
                    font-size: 16px;    
                    color: colors(_black2) !important;
                    font-weight: weight(medium) !important;
                }
                margin-bottom: 8px;
                a.nav-link {
                    padding: 0 !important;
                    color: colors(primary);
                    background-color: transparent;
                }
            }
        }

        @include mobile-max(767px) {
            .container-fluid {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }
}

.marketing-content {
    .marketing-content__grid {
        // grid-template-columns: 1fr 1fr 1fr 1fr;
        // -ms-grid-rows: 1fr 24px 1fr;
        // grid-template-rows: 1fr 1fr;
        display: grid;

        a {
            grid-row: 1/3;
            overflow: hidden;
            border-radius: 8px;
            color: inherit;
            text-decoration: none;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-transition: box-shadow .15s ease-out;
            transition: box-shadow .15s ease-out;

            .card {
                box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
            }

            &:first-child, &:nth-child(2) {
                grid-row-end: none;
                @include mobile-max(768px) {
                    grid-column: 1/3;
                    grid-row: 1/2;
                    p.card-text {
                        display: none;
                    }
                }
            }
            &:nth-child(2)  {
                @include mobile-max(768px) {
                    grid-column: 3/5;
                    grid-row: 1/2;
                }
            }
            &:nth-child(3) {
                grid-column: 3/5;
                @include mobile-max(768px) {
                    grid-column: 1/3;
                    grid-row: 2/2;
                }
            }

            &:nth-child(4), &:nth-child(5) {
                grid-row: 3;
                grid-column: 4;
            }
            &:nth-child(4) {
                grid-column: 3;
                @include mobile-max(768px) {
                    grid-column: 1/3;
                    grid-row: 3/3;
                }
            }
            &:nth-child(5) {
                @include mobile-max(768px) {
                    grid-column: 1/3;
                    grid-row: 3/3;
                }
            }

            
        }

        @include mobile-min(768px) {
            height: 720px;
            grid-gap: 24px;
            a {
                grid-row: 1/3;
            }
        }

        @include mobile-min(768px) {
            height: auto;
            max-height: 624px;
            -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            -ms-grid-rows: 1fr 24px 1fr;
            grid-template-rows: 1fr 1fr;
            a {
                margin-bottom: 0;
            }
        }

        @include mobile-max(768px) {
            // grid-template-rows: 4fr 3fr 1fr;
        }

        
    }
}
.tm-seo-internal-linking {
    .seo-internal-linking-ul {
        .active {
            color: colors(_black) !important;
            background-color: colors(primary) !important;
            font-weight: weight(medium);
            border-bottom: 3px solid colors(_black);
        }
        border-bottom: 1px solid lightgrey !important;
        li.nav-item {
            flex-basis: auto !important;
            flex-grow: 0 !important;
            font-size: 18px;
            a.nav-link {
                padding: 16px;
                border-radius: 0;
                color: colors(primary2);
                text-decoration: none !important;
                background-color: transparent !important;
            }
        }
    }

    .tab-content-ul {
        background-color: transparent !important;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        
        
        @include mobile-max(768px) {
            grid-template-columns: 1fr 1fr;
        }
        
        @include mobile-max(425px) {
            grid-template-columns: 1fr;
        }
        li {
            margin-bottom: 16px;
            a.nav-link {
                background-color: transparent !important;
                font-size: 16px;
                color: colors(primary2);
                font-weight: weight(regular);
                &:active {
                    color: colors(_purple);
                }
            }
        }
    }
}

.property-pg {
    .hero_bottom_nav {
        .row div {
            @include mobile-max(425px) {
                margin-bottom: 30px;
                .search_box {
                    margin: 0;
                }
                &:first-child {
                    flex-direction: column;
                    .search_box_form {  
                        .form-label {
                            
                        }
                    }
                } 
                &:nth-child(2), &:nth-child(3) {
                    .search_box_form { 
                        .form-label {
                            display: none;
                        }
                    }
                } 
            }            
        }
        
    }
}