.banner-section {
    // padding-left: 20px;
    .banner-frame {
        background: #fff;
    }
    .banner {
        position: relative;
        display: flex;
        margin-bottom: 24px;
        background: linear-gradient(180deg, #fff, #fff 48%, #007acd 0, #007acd);

        @include mobile-min(1440px) {
            background: linear-gradient(
                90deg,
                #fff,
                #fff 47%,
                #007acd 0,
                #007acd
            ) !important;
        }

        @include mobile-min(768px) {
            height: 220px;
        }
        .banner_details {
        padding: 24px 24px 0;

            flex: 1;
            .banner_title {
                h1 {
                    font-size: 32px;
                }
            }
            .banner_subtitle {
                width: 100%;
                display: block;
                font-size: 18px;
                margin-bottom: 10px;
                margin-top: 10px;
            }
            .nav-link {
                text-transform: capitalize;
                text-decoration: none;
                margin-bottom: 24px;
            }
        }

        .banner_svg {
            flex: 1.5;
            div {
                height: 100%;

                svg {
                    height: 100%;
                    position: relative;
                   @include mobile-min(768px) {
                    left: -42px;
                   }
                    fill: $p-col;
                    // position: absolute;
                }

                .xx-img {
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    height: 100%;
                    width: 100%;
                    .banner_logo,
                    .logo {
                        display: block;
                    }

                    .banner_logo {
                        height: 150px;
                    }

                    .logo {
                        height: 30px;
                    }
                    @include mobile-max(425px) {
                        width: 100%;
                        left: 0;
                    }

                    @include mobile-max(767px) {
                        flex-direction: column;
                    }

                    @include mobile-min(768px) {
                        // display: flex!important;
                        top: 0;
                        right: 0;
                        padding: 0px;
                        width: 50%;

                        .banner_logo,
                        .logo {
                            display: inline-block;
                        }

                        .banner_logo {
                            height: 100px;
                        }

                        .logo {
                            height: 20px;
                        }
                    }
                    @include mobile-min(769px) {
                        .banner_logo {
                            height: 150px;
                        }

                        .logo {
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}

/*
    ? MEDIA SCREENS == 768px;
*/

@media screen and (min-width: 768px) {
    .banner-section {
        .banner {
            // background: linear-gradient(
            //     90deg,
            //     #fff,
            //     #fff 47%,
            //     #007acd 0,
            //     #007acd
            // );
            background: linear-gradient(
                90deg,
                #fff,
                #fff 52%,
                #007acd 0,
                #007acd
            );
            .banner_subtitle {
                // max-width: 35%;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .banner-section {
        padding-left: 0px;
        .banner {
            padding-left: 0px;
            flex-direction: column;

            .banner_details {
                position: absolute;
                padding: 20px 20px 0 20px;
            }

            .banner_svg div {
                padding-top: 40px;
                overflow: hidden;

                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    transform: rotate(67deg) translate(-5%, -4%);
                    width: 95%;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .banner-section {
        .banner_details {
            padding-top: 0 !important;
        }

        .banner_svg div {
            padding-top: 65px !important;

            svg {
                width: 100% !important;
                height: 180% !important;
            }
        }
    }
}
