.marketing_content {
    background-color: #fff;
    .marketing_content_title {
        padding-bottom: 8px;
    }
    .marketing_content_layouts {
        display: grid;
        // grid-column: 4;
        // grid-row: ;
        grid-gap: 24px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 8fr 8fr 8fr 8fr;

        div {
            background-color: brown;
            color: green;
            height: 100%;
            // width: 100%;
        }
        .g-col-1 {
            grid-column-start: 1;
            grid-row-start: 1;
            grid-row-end: 8;
        }
        .g-col-2 {
            // grid-column-start: 2;
            grid-row-start: 1;
            grid-row-end: 8;
        }
        .g-col-3 {
            grid-column-start: 3;
            grid-column-end: 5;
            // grid-column-end: span col4-start;
            grid-row-start: 1;
            grid-row-end: 4;
        }
        .g-col-4 {
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 4;
            grid-row-end: 8;
        }
    }
}

/*
    ? MEDIA SCREENS == 768px;
*/
/*
    ? MEDIA SCREENS == 1024px;
*/
@media screen and(min-width: 1024px) {
    .marketing_content_cards {
        height: 70%;
    }
}
