.tm-marketplace-landing-page-wrapper {
    background-color: #fff;

    .navbar {
        ul.navbar-nav {
            display: grid;
            // grid-column: 1fr 1fr;
            grid-template-columns: 1fr 1fr auto;
            // background-color: #fff;
            // column-count: 3;
            flex-direction: row !important;

            li.nav-item {
                padding: 15px 20px 15px 0;
                // border-radius: 5px;
                // display: inline-block !important;

                &:focus {
                    border: 2px solid $p-col;
                }

                a.nav-link {
                    text-transform: capitalize;
                    font-size: 1rem;
                    color: $p-col !important;
                }
            }
        }
    }
}

.tm-marketplace-landing__stripes-wrapper {
    // .card-section-header-link {
    //     display: none;
    //     // a.nav-link {
    //     //     color: red !important;
    //     // }
    // }

    .tm-marketplace-landing__stripes-wrapper-title {
        text-transform: capitalize;
        margin-bottom: 16px;
    }

    .nav-link {
        color: colors(_black) !important;
        h2:hover {
            text-decoration: underline;
        }

        &:hover {
            color: colors(_black) !important;
            text-decoration: none;
            .price-card {
                h5 {
                    color: colors(link) !important;
                }
            }
        }
    }

    .product-cardlist {
        display: flex;
        max-width: 1981px;
        width: 100%;

        @include mobile-max(1024px) {
            overflow-x: scroll;
        }

        .product-card {
            margin: 0 20px 20px 0;
            border-radius: 8px;
            display: inline-block;
            // align-items: flex-end;
            background-color: #fff;
            position: relative;
            font-size: 0.75rem !important;

            .product-card-border {
                border: 3px solid #ffd972;
            }

            .product-card-header {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                display: flex;
                border-radius: 8px 8px;
                overflow: hidden;
                z-index: 30 !important;
                justify-content: space-between;

                .product-card-discount {
                    font-weight: 700;
                    display: flex;
                    flex-direction: column;

                    span {
                        font-size: 0.75rem;
                        color: #fff;
                        text-transform: capitalize;
                        margin-right: 8px;
                        font-size: 0.75rem;
                        line-height: 16px;
                        padding: 4px 10px 4px 8px;

                        &:first-child {
                            border-radius: 8px 0 0 0 !important;
                        }
                    }

                    span.product-card-discount-class {
                        background-color: $r-col;
                    }

                    span.product-card-shipping-class {
                        background-color: #00825a;
                    }
                }
            }

            .product-card-img {
                border-radius: 8px 8px 0 0 !important;
                display: flex;
                justify-content: center;
                height: 200px;
                /* background-attachment: fixed; */
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;

                img {
                    border-radius: 8px 8px 0 0 !important;
                    width: 100%;
                    position: relative;
                }
            }

            .product-card-detail {
                padding: 12px;
                // height: calc(358.33px / 2);
                width: 275.78px !important;

                .product-card-body,
                .product-card-footer {
                    padding: 10px 0;
                    height: 50px;
                }

                .product-card-body {
                    padding: 0 0 100px 0;

                    .product-card-location-and-time {
                        margin-bottom: 8px;
                        display: flex;
                        justify-content: space-between;

                        span {
                            color: $a-col;
                            font-size: 0.75rem;
                            line-height: 16px;
                            text-transform: capitalize;
                        }
                    }

                    .product-card-title {
                        color: $body-col;
                        font-size: 0.875rem;
                        font-weight: 500;
                    }

                    .product-card-subtitle {
                        color: $a-col;
                        // margin: 5px 0;
                        font-size: 0.75rem;
                        line-height: 16px;
                    }
                }

                .product-card-footer {
                    width: 100%;
                    text-align: right;

                    .product-card-price-div {
                        display: flex;
                        justify-content: space-between;

                        // .price-card {
                        //     h5:hover {
                        //         color: colors(link) !important;
                        //     }
                        // }
                        span,
                        del {
                            font-size: 16px;
                            line-height: 16px;
                            color: $body-col;
                        }

                        .discount_price {
                            font-size: 0.75rem;
                            color: $r-col;
                            font-weight: bold;
                        }
                    }
                }
            }

            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.197);
            transition: box-shadow 0.2s ease-out;

            &:hover {
                box-shadow: 0 1px 7px 2px rgba(46, 45, 45, 0.156);
                transition: box-shadow 0.2s ease-out;
            }
        }
    }
}

.tm-popular_search-section {
    h2 {
        color: $body-col;
        text-transform: capitalize;
        margin-bottom: 16px;
    }

    nav.navbar {
        background-color: transparent !important;
        margin-bottom: 20px;

        ul.navbar-nav {
            &:first-child {
                font-weight: 500;
                font-size: 16px;
                color: colors(link);
            }

            li.nav-item {
                a.nav-link {
                    color: $g-col;
                    display: inline-block;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    margin-bottom: 4px;
                    font-weight: 400;
                    line-height: 20px;

                    &:hover {
                        color: $p-col;
                    }
                }
            }
        }
    }
}

.tm-marketplace-deals-div {
    background-color: #3e465c;
    padding: 0 8.71%;
    display: flex;

    div {
        min-height: 200px;
        display: inline-block;
        width: 50%;

        &:first-child {
            background-image: url('https://www.trademe.co.nz/images/frend/marketplace/marketplace-deals-banner-xl.png');
            background-position: center;
            background-size: cover;
        }

        &:last-child {
            padding: 24px 12px 0 12px;

            h1,
            h2 {
                margin: 16px 0;
                color: #fff;
            }

            a.nav-link {
                text-decoration: none;
                background-color: $b-col;
                color: #fff;
                display: block;
                width: 100%;
                height: auto !important;
                font-size: 16px;
                margin-bottom: 24px;
                padding: 12px 24px;
                text-align: center;
                border-radius: 5px;
                text-transform: capitalize;
                font-weight: 500;
            }
        }
    }
}

.tm-marketplace-landing-page-search-area {
    position: relative;
    background-color: #cbeaff;
    margin-bottom: 100px;

    h3.search_box-title {
        color: #65605d;
        font-size: 1rem;
        font-weight: 500;
        line-height: 24px;
        padding-right: 16px;
        margin-bottom: 8px;

        span {
            font-size: 0.75rem;
            line-height: 16px;
            color: #9b9591;
            font-weight: 400;
        }
    }

    .tm-marketplace-landing-page-header {
        z-index: 2;
        position: relative;
        display: flex;
        overflow: hidden;
        // display: flex !important;
        // flex-direction: row !important;
        justify-content: space-between !important;

        .tm-marketplace-header-section__headline {
            width: 550px;
            padding-top: 40px !important;
            font-size: 3.125rem !important;
            line-height: 60px;
        }

        .tm-marketplace-header-section__svg {
            display: flex;
            align-items: center;
            text-align: right;
        }
    }

    .tm-marketplace-landing-page-search-section {
        .container-fluid {
            background-color: #fff;
            height: 136px !important;
            padding: 16px 24px;
            border-radius: 6px;
            margin-top: -50px;
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 3;
            display: flex;
            justify-content: space-between;
            align-items: center;

            div {
                padding: 0 5px;

                select,
                button {
                    height: 48px;
                }
            }

            .search_box {
                flex: 2;
            }
        }
    }

    .tm-marketplace-landing-page-bottom-section {
        position: absolute;
        bottom: 0;
        // width: 1956px;
        overflow: hidden !important;

        svg {
            width: 100%;
        }
    }

    .tm-marketplace-landing-page-search-section-button {
        button {
            background-color: $btn;
            color: #fff;
        }
    }
}

/*
    ? MEDIA SCREENS == 768px;
*/

@media screen and (max-width: 768px) {
    .tm-marketplace-landing-page-wrapper {
        display: none !important;
    }

    .tm-marketplace-deals-div {
        padding: 0 24px;

        div {
            &:first-child {
                background-size: contain !important;
                background-repeat: no-repeat !important;
            }
        }
    }

    .tm-marketplace-landing-page-search-area {
        .tm-marketplace-landing-page-header {
            display: flex !important;
            flex-direction: row !important;
            justify-content: space-between !important;

            .tm-marketplace-header-section__headline {
                width: 394px !important;
                padding-top: 64px !important;
                font-size: 2.1875rem !important;
                line-height: 40px !important;
            }

            .tm-marketplace-header-section__svg {
                // flex: 4;
                svg {
                    height: 120.13px;
                    width: 300px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .tm-marketplace-landing-page-search-area {
        .tm-marketplace-landing-page-header {
            height: 240px;
        }
    }

    .tm-marketplace-landing-page-search-area {
        div {
            position: relative;
        }

        .tm-marketplace-landing-page-header {
            // height: 140px;

            h1.tm-marketplace-header-section__headline {
                // position: absolute;
                // z-index: 1;
                // width: 254px;
                // padding-top: 16px;
                color: #00569e;
                // font-size: 1.5rem;
                // line-height: 32px;
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .tm-marketplace-landing-page-search-area {
        .tm-marketplace-landing-page-header {
            height: 270px;
        }
    }
}

@media screen and (max-width: 767px) {
    .tm-marketplace-deals-div {
        flex-direction: column;

        div {
            width: 100% !important;
        }
    }

    .tm-marketplace-landing-page-search-area {
        .tm-marketplace-landing-page-header {
            flex-direction: column !important;

            .tm-marketplace-header-section__headline {
                width: 254px !important;
                padding-top: 16px !important;
                color: #00569e;
                font-size: 24px !important;
                line-height: 32px !important;
                margin-bottom: 24px !important;
            }

            .tm-marketplace-header-section__svg {
                svg {
                    height: 20vh;
                }
            }
        }

        .tm-marketplace-landing-page-bottom-section {
            svg {
                height: 100px !important;
            }
        }
    }

    .tm-marketplace-landing-page-search-section {
        // margin-top: 55px;
        margin-top: 60px;

        .container-fluid {
            position: relative !important;
            flex-direction: column !important;
        }
    }
}

@media screen and (max-width: 1024px) {
    .tm-marketplace-landing-page-search-area {
        .tm-marketplace-landing-page-header {
            .tm-marketplace-header-section__headline {
                width: 394px;
                padding-top: 64px;
                font-size: 2.1875rem;
                line-height: 48px;
            }
        }
    }
}

@media screen and (min-width: 480px) {
    // .tm-marketplace-deals-div {
    //     .container-fluid {
    //         padding-right: 24px;
    //         padding-left: 24px;
    //     }
    // }
}

@media screen and (min-width: 1440px) {
    // .tm-marketplace-landing-page-search-area {
    //     .tm-marketplace-landing-page-header {
    //         display: flex !important;
    //         flex-direction: row !important;
    //         justify-content: space-between !important;
    //         .tm-marketplace-header-section__headline {
    //             width: 550px;
    //             padding-top: 40px !important;
    //             font-size: 3.125rem !important;
    //             line-height: 60px;
    //         }
    //         .tm-marketplace-header-section__svg {
    //             // flex: 4;
    //             text-align: right;
    //         }
    //     }
    // }
}
