.marketing_section {
    .marketing_csection_title {
        margin-bottom: 20px;
    }
    .card {
        transition: box-shadow .15s ease-out;
        border-radius: 8px;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    }
    .marketing_card {
        img {

        }
    }
    p {
        font-size: 16px;
    }
}
/*
    ? MEDIA SCREENS == 768px;
*/
@media screen and (min-width: 768px) {
    .marketing_section {
        .card {
            box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
        }
        .marketing_card {
            background-repeat: no-repeat;
            height: 100%;
            img {
                height: 360px;
    
            }
        }
        .marketing_img {
            height: 100%;
            img {
                height: 200px;
            }
        }
        .marketing_content_img_row {
            display: flex;
            flex-direction: row;
            .col {
                height: 100%;

            }
        }
    }
}
@media screen and (max-width: 767px) {
    .marketing_section {
        .row {
            flex-wrap: nowrap;
        }
        .card {
            height: 200px;
            img {
                height: 100%;
            }
            box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
            p {
                display: none;
            }
        }
       
    }
}
/*
    ? MEDIA SCREENS == 1024px;
*/
@media screen and(min-width: 1024px) {
    .marketing_content_cards {
        height: 70%;
    }
}
