@import 'colors';
.navbar {
    background-color: $navbar_bg_col;
    padding: 15px 0px 0px;
    display: block;

    .container-fluid {
        display: flex;
    }

    //! HEADER NAV 
    #navbarNav {
        display: inline-block;
        font-size: 12px;
        justify-content: space-between;
        width: 100%;
        .active {
            margin-right: 8px;
            background-color: #fff;
            border-radius: 3px 3px 0 0;
            color: $nav-link;
            font-weight: 700;
        }

        ul.tm-affiliates__sat-nav-list {
            display: flex;
            justify-content: space-between;
            li.nav-item {
                a.tm-affiliates__sat-nav-link {
                    padding: 8px;
                }
            }
        }

        .logged-out__actions {
            .logged-out__register,
            .logged-out__log-in {
                padding: 8px 12px;
            }
            // .logged-out__register:hover,
            // .logged-out__log-in:hover {
            //     text-decoration: underline;
            // }
        }

    }

    //! HEADER SHELL NAV
    .main-nav__global-navigation {
        background-color: white;
        padding: 20px 0px;
        
        .container-fluid {
            display: flex;
            justify-items: center;
            align-items: center;
        }
        .logo img{
            max-height: 24px; 
            display: flex;
            align-items: center;  
        }

        .browse-dropdown-btn {
            flex: 2;
        }
        .main-nav__member-options-list {
            flex: 3;
            text-align: right;
            // justify-items: center;
            // align-items: rig;
            .nav-item {
                text-transform: capitalize;
                display: inline-block;  
                padding: 0px 10px;
                .m-affiliates__sat-nav-link {
                    color: $nav-link;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 768px) {
    .navbar {
        #navbarNav {
            display: block;

            // .tm-affiliates__sat-nav-list {
            //     display: -webkit-inline-box;
            // }

        }
    }
}

@media screen and (min-width: 375px) {
    .navbar {
        .logo {
            max-height: 24px;
        }
    }

}
