.section-title {
    @include mobile-min(768px) {
        line-height: 40px;
        font-size: 2rem;
        margin-bottom: 24px;

        h1 {
            font-size: 32px;
        }

        p {
            font-size: 20px;
        }
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 18px;
        padding-bottom: 0;
    }
}



.salary-guide {

    // display: flex;
    // flex-direction: column;
    #content {
        aside {
            background-color: colors(_white) !important;

            ul {
                li {
                    margin-bottom: 16px;
                    font-size: 20px;

                    a.nav-link {
                        text-decoration: none;
                        font-weight: weight(regular) !important;

                        &:hover {
                            color: colors(link);
                        }
                    }
                }

                @include mobile-max(767px) {
                    li {
                        display: block !important;
                        width: 100%;
                    }

                    a.nav-link {
                        color: colors(primary);
                        font-size: 16px !important;
                    }
                }
            }
        }

        .salary-guide-content {
            .anchor {
                margin-top: 50px;
                padding: 20px 0;
                padding-left: 30px;
                
                &:nth-child(even) {
                    padding: 20px 10px;
                    background-color: colors(table-head-bg) !important;

                    thead th {
                        background-color: colors(_grey) !important;
                    }
                }

                P {
                    font-size: 20px;
                }

                h2#caption {
                    margin-bottom: 16px;
                    font-size: 18px !important;
                    font-weight: weight(medium) !important;
                }

                @include mobile-max(767px) {
                    padding-left: 0;
                    padding: auto 5px;

                    h1 {
                        font-size: 22px;
                    }

                    h2#caption {
                        font-size: 18px;
                    }

                    p {
                        font-size: 18px;
                    }

                    &:first-child {
                        padding: 0 !important;
                        margin: 0 !important;
                    }

                }
            }


            table.table {
                * {
                    font-size: 16px !important;
                    color: colors(link) !important;
                }

                thead {
                    background-color: colors(table-head-bg);
                }
                
                th {
                    font-weight: weight(medium) !important;
                    border-bottom-color: colors(table-border);
                    color: colors(_black) !important;
                }

                td {
                    color: colors(_black) !important;
                    height: 40px;
                    hyphens: auto;
                    overflow-wrap: break-word;
                    vertical-align: top;
                    word-wrap: break-word;
                }

                tbody tr td {
                    &:first-child {
                        width: 33.333333333333336%;
                    }
                }

                @include mobile-max(767px) {
                    // tbody tr {
                    //     &:nth-child(3n+1) {
                    //         display: none;
                    //     }
                    //     width: 100%;
                    //     display: block;
                    //     &::after {
                    //         position: absolute;
                    //         content:  attr(data-title);
                    //         padding-left: 2px;
                    //         font-weight: weight(regular) !important;
                    //         initial-letter: unset;
                    //     }
                    // }
                    display: none;
                }
            }

            table.table-sm {
                @include mobile-min(768px) {
                    display: none !important;
                }

                width: 100%;
                
                tbody tr {
                    padding: 16px 0;
                    
                    td {
                        padding-left: 15px;
                        padding-right: 15px;
                        display: block;
                        font-size: 16px;

                        &:first-child {
                            font-weight: weight(medium) !important;
                            background-color: colors(_grey) !important;
                            border-bottom: 1px solid colors(table-border);
                            margin: 10px 0;

                            &::before {
                                display: none;
                            }
                        }

                        &::before {
                            font-weight: weight(medium) !important;
                            content: attr(data-td) ": ";
                            position: relative;
                        }
                    }
                }
            }
        }
    }
}
