.search_box {
    background-color: #fff;
    font-size: 16px !important;
    margin-bottom: 20px;
    .fa {
        font-size: 20px;
    }
    .search_box_input_and_icon {
        padding: 0 6px;
        border: 2px solid #d7d5d2;
        .x-times {
            display: none;
            color: #9b9591;
            font-weight: 300;
        }
        .s-search {
            color: #5a5653;
        }
        label {
            color: #65605d;
            font-size: 1rem;
            font-weight: 500 !important;
            line-height: 24px;
        }
        input[type='text'] {
            border: none;
            padding: 6px 0;
            width: 70%;
            padding-left: 10px;
            outline: none;
        }
        &:focus-within {
            border: 2px solid #65605d;
            .x-times {
                display: inline;
            }
        }
    }
    .btn {
        display: inline-block;
        // width: 100%;
        min-width: 2rem;
        min-height: 100% !important;
        border: none;
        text-transform: capitalize;
        border-radius: 0px 3px 3px 0px;
        background-color: $btn;
        color: white;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        text-align: center;
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
        -webkit-transition-property: background-color, border-color, box-shadow,
            padding-top, padding-bottom, color;
        transition-property: background-color, border-color, box-shadow,
            padding-top, padding-bottom, color;
        vertical-align: middle;
        padding: 0.75rem 24px;
        &:hover {
            opacity: 0.7;
        }
    }
}

.standalone-search {
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    outline: 1px solid lightgrey;
    border-radius: 3px;
    color: colors(_black2) !important;
    .clear-input {
        display: none;
        &::before {
            content: '\f00d';
            position: relative;
            font-size: 16px;
            font-family: 'FontAwesome';
            display: block;
        }
    }
    
    &:focus-within {
        border: 2px solid #212121;
        .clear-input {
            display: block;
        }
    }

    input {
        margin-bottom: 0 !important;
    }


    svg, i {
        margin: 0 10px;
    }
}
