.form-select-lg {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 16px;
}

.select_box {
    .select_box_form {
        select {
            display: none;
            padding: 30px;
        }
    }
}
