.standalone-auth-form-section {
    margin-top: 10px;
    display: grid;
    place-items: center;
    .standalone-auth-form-area {
        width: 100%;
        flex-direction: column;
        max-width: 368px;
        background-color: transparent;
        display: flex;
        .logo {
            margin-bottom: 30px;
            width: 100%;
            align-self: center;
            max-width: 230px !important;
            img {
                height: 100%;
                width: 85%;
            }
        }

        .form-card {
            display: flex;
            width: 100%;
            min-height: 2px;
            background-color: rgb(255, 255, 255);
            box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px 0px;
            margin-bottom: 24px;
            flex: 1 1 auto;
            flex-flow: column nowrap;
            padding: 24px 32px;
            h1 {
                font-size: 28px !important;
                font-weight: weight(bold);
            }
            h1,
            p,
            .form-group,
            .forgot-pw-link,
            .form-check {
                margin-bottom: 24px;
            }

            .form-check {
                font-size: 16px;
                input {
                    transition: border-color 0.2s ease-out;
                    cursor: pointer;
                    width: 22px;
                    height: 22px;
                }
            }

            .form-group {
                label {
                    font-size: 16px;
                    color: colors(_black2);
                    font-weight: weight(bold);
                    padding-bottom: 8px;
                }

                input {
                    height: 48px;
                    &:focus-within {
                        border: none !important;
                        box-shadow: none !important;
                        outline: none !important;
                        border: 2px solid rgb(75, 75, 75) !important;
                    }
                }
            }

            .form-cancel-btn {
                font-weight: weight(regular);
                &::before {
                    display: none;
                }
            }
        }

        a.nav-link {
            display: inline-block !important;
        }

        .standalone-auth-form-help-link {
            margin-bottom: 24px;
        }

        .standalone-auth-form-protection-p {
            font-size: 11px;
        }
    }
}
