.user_dashboard {
    @include mobile-min(426px) {
        .container-fluid {
            background: linear-gradient(
                90deg,
                colors(_white) 60%,
                colors(_whitesmoke) 40%
            );
        }
    }
    .no--bg {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .user_dashboard-card {
        padding: 0 15px;
        margin-bottom: 50px;

        @include mobile-max(375px) {
            padding-left: 8px !important;
            padding-right: 8px !important;
        }

        .user_dashboard-card-title {
            width: 100%;
            text-align: left;
            h1 {
                color: colors(_black);
            }

            ul.navbar {
                li {
                    @include mobile-min(769px) {
                        padding: 16px !important;
                    }
                    @include mobile-max(425px) {
                        padding: 14px;
                    }
                    &:first-child {
                        padding-left: 0 !important;
                    }
                }
            }
        }

        .user_dashboard-card-content {
            background-color: colors(_white);
            border-radius: 2px;
            width: 100%;
            padding: 3rem 1rem 0.5rem;
            margin-top: 2rem;
            margin-bottom: 1rem;
            box-shadow: 0px 1px 3px 0px #c8c6c6;

            svg {
                width: 200px;
            }

            @include mobile-min(767px) {
                padding: 25px 32px 45px;
            }
        }
        .active {
            border-bottom: 3px solid colors(_black);
            color: colors(_black) !important;
            font-weight: weight(medium) !important;
        }
    }

    .user_dashboard-sidebar {
        .user_dashboard-sidebar-title {
        }

        ul.navbar {
            background-color: transparent !important;

            .active {
                a.nav-link {
                    padding: 4px 0 4px 16px;
                    border-radius: 0 !important;
                    background: linear-gradient(90deg, #f9af2c 4px, #fff 2%);
                    font-weight: weight(bold);
                }
            }

            .subtitle {
                font-size: 14px;
                color: colors(_grey) !important;
            }

            li.nav-item {
                border-bottom: 1px solid #e8e8e8;
                padding: 16px 0;
                display: flex;
                a.nav-link {
                    font-size: 16px;
                    color: colors(_black);
                }

                .error {
                    background-color: colors(_red);
                }

                .warning {
                    background-color: colors(_yellow);
                }

                .success {
                    background-color: colors(_green);
                }

                .badge {
                    border-radius: 50%;
                    display: flex;
                    font-size: 12px;
                    justify-content: center;
                    align-items: center;
                    width: 24px;
                    height: 24px;
                    margin: 0 10px;
                }
            }
        }
    }
}
