@import 'config';
@import 'media';
@import 'display';
@import 'nav';
@import 'home_search_header';
@import 'auction';
@import 'category';
@import 'homepage_banner';
@import 'footer';
@import 'search_box';
@import 'components';
@import 'hero'; // not completed
@import 'selectbox'; // not completed
// @import 'marketing_content';
@import 'marketplace_page';
@import 'property';
@import '_category_search_component';
@import 'motorbikes';
@import 'big_searched_display';
@import 'salaryguide';
@import 'careeradvice';
@import 'breadcumb_div';
@import 'services';
@import 'help';
@import 'announcement';
@import 'standalone_auth_form';
@import 'auth_form';
@import 'lastest_deals';
@import 'product';
@import 'jobs';
@import 'positons';
@import 'dropdown_modal';

@font-face {
    font-display: swap;
    font-family: Story Sans;
    font-style: normal;
    font-weight: 700;
    src: url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Bold.eot.eot);
    src: url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Bold.eot#iefix)
            format('embedded-opentype'),
        url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Bold.woff2)
            format('woff2'),
        url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Bold.woff)
            format('woff'),
        url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Bold.ttf)
            format('truetype');
}

@font-face {
    font-display: swap;
    font-family: Story Sans;
    font-style: normal;
    font-weight: 500;
    src: url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Medium.eot);
    src: url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Medium.eot#iefix)
            format('embedded-opentype'),
        url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Medium.woff2)
            format('woff2'),
        url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Medium.woff)
            format('woff'),
        url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Medium.ttf)
            format('truetype');
}

@font-face {
    font-display: swap;
    font-family: Story Sans;
    font-style: normal;
    font-weight: 400;
    src: url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Regular.eot);
    src: url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Regular.eot#iefix)
            format('embedded-opentype'),
        url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Regular.woff2)
            format('woff2'),
        url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Regular.woff)
            format('woff'),
        url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Regular.ttf)
            format('truetype');
}

@font-face {
    font-display: swap;
    font-family: Story Sans;
    font-style: normal;
    font-weight: 300;
    src: url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Light.eot);
    src: url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Light.eot#iefix)
            format('embedded-opentype'),
        url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Light.woff2)
            format('woff2'),
        url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Light.woff)
            format('woff'),
        url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Light.ttf)
            format('truetype');
}

// ! COLORS
.g-col {
    color: $g-col;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    margin: 0;
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    font-size: 14px;
    color: $body-col;
    background-color: $body_bg_col;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

a,
.nav-link {
    background-color: transparent;
    text-decoration: none;
    color: colors(link);
    margin: 0;
    padding: 0;
}

a:active,
a:hover {
    outline: 0;
    text-decoration: underline;
    color: colors(link);
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

p {
    color: colors(_black2);
    font-size: 16px;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
    text-transform: none;
}

select,
.form-select {
    text-transform: none;
    width: 100%;
    height: 38px;
    padding-right: 32px;
    // padding-left: 12px;
    border: 1px solid #d7d5d2;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;

    &:focus-within {
        border: 2px solid rgb(75, 75, 75);
    }
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
    border: 1px solid colors(_grey2);

    &:focus,
    &:active {
        box-shadow: none !important;
        outline: none !important;
        border: 1px solid colors(_grey2);
    }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

input[type='search'] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
select,
button:focus .bootstrap-select .btn:focus {
    outline: none !important;
    box-shadow: none !important;
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: 700;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
:after,
:before {
    box-sizing: border-box;
}

blockquote,
body,
caption,
dd,
dl,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
legend,
ol,
p,
pre,
table,
td,
th,
ul {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 24px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 10px;
}

ol,
ul {
    list-style: none;
}

th {
    font-weight: 400;
}

caption,
th {
    text-align: left;
}

address {
    font-style: normal;
}

[tgFocusEventType='keydown'] a:focus {
    outline: 2px solid #8dcefc;
}

:focus {
    outline: none;
}

[tgFocusEventType='keydown'] a:not([class*=' o-']):not([class^='o-']):focus,
[tgFocusEventType='keydown']
    button:not([class*=' o-']):not([class^='o-']):focus {
    box-shadow: 0 0 0 2px #8dcefc;
    outline: none;
    border-radius: 3px;
}

input[type='search'] {
    box-sizing: border-box;
}

fieldset {
    border: 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.navbar-nav {
    flex-direction: column;
}

// ? SEARCH BOX

.tm-global-search-form {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    // padding-right: 65px;
    form {
        // flex: 1;
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 48px;
        width: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        box-sizing: content-box;
        // padding-right: 16px;
        padding-left: 16px;
        background-color: #fff;
        border-radius: 3px;
        color: #44413d;
        cursor: text;
        border: 1px solid #d7d5d2 !important;
        -webkit-transition: border-color 0.2s ease-out;
        transition: border-color 0.2s ease-out;

        &:focus-within {
            outline: 2px solid #44413d;
        }
        input[type='text'] {
            height: inherit;
            border: none;
            padding: 0 15px 0 15px;
            width: 100%;
        }
    }
    .btn {
        display: inline-block;
        // width: 100%;
        min-width: 2rem;
        min-height: 100% !important;
        border: none;
        text-transform: capitalize;
        border-radius: 0px 3px 3px 0px;
        background-color: $btn;
        color: white;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        text-align: center;
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
        -webkit-transition-property: background-color, border-color, box-shadow,
            padding-top, padding-bottom, color;
        transition-property: background-color, border-color, box-shadow,
            padding-top, padding-bottom, color;
        vertical-align: middle;
        padding: 0.75rem 24px;
        &:hover {
            opacity: 0.7;
        }
    }
}
form {
    button {
        .fa {
            display: none;
        }
        &::before {
            content: 'Search';
            position: relative;
        }
    }
}
@media screen and (max-width: 425px) {
    form {
        button {
            .fa {
                display: block !important;
            }
            &::before {
                display: none !important;
            }
        }
    }
}

.btn,
.btn-2,
.btn-o,
button {
    display: inline-block;
    min-width: 2rem;
    min-height: auto !important;
    border: none;
    text-transform: capitalize;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: background-color, border-color, box-shadow,
        padding-top, padding-bottom, color;
    transition-property: background-color, border-color, box-shadow, padding-top,
        padding-bottom, color;
    vertical-align: middle;
    padding: 0.75rem 24px;
    &:hover {
        // opacity: 0.8;
        color: #fff;
        text-decoration: none;
        background-color: #1699eff8 !important;
    }
    &:focus,
    &:active {
        box-shadow: none !important;
        outline: none !important;
        border: none !important;
    }
}

.btn-2 {
    color: white;
    background-color: $btn;
    padding: 0.35rem 12px;
    border-radius: 3px;
}

.btn-o {
    background-color: $btn;
    padding: 0.35rem 12px;
    border-radius: 30px;
    color: #fff;
}

.btn-o--no-bg {
    background-color: transparent !important;
    border: 1px solid $btn;
    color: $btn;
}

.btn--no-b-bg {
    background-color: transparent !important;
    border: none !important;
    color: $btn;
}

.btn--grey {
    background-color: colors(_grey);
    color: colors(primary);
    height: 100%;

    &:hover {
        color: colors(primary);
        background-color: colors(_white) !important;
    }
}
.coofee-btn {
    background-color: colors(_yellow);
    &:hover {
        background-color: colors(_yellow3) !important;
    }
}
.grey-btn {
    background-color: colors(_lite_grey_BG);
    &:hover {
        background-color: #f0f0f0 !important;
    }
}
.pressible-btn {
    background-color: colors(primary2);
    border: none;
    text-transform: none;
    box-shadow: inset 0px -4px 0px colors(primary3);
    border-radius: 3px;

    &:hover {
        box-shadow: inset 0px -5px 0px colors(primary3);
    }
    &::before {
        display: none;
    }
}

.container-fluid {
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 0 12px;
    margin: 0;
}

.container-sml {
    position: relative;
    display: flex;
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
}

.card {
    overflow: hidden;
}

.visibility-hidden {
    visibility: hidden;
}

.visibility-visible {
    visibility: visible;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    --help-pg-section-padding: 0 16px;
}
section h1.header-section-title {
    color: colors(_black) !important;
    padding: 50px 0 30px 0;
}

.o-box-info--warning {
    .o-box-info {
        border-color: hsl(38, 100%, 46%) !important;
        background: #fffae5 !important;
        color: currentColor !important;
    }
}

.o-box-info--primary {
    .o-box-info {
        border-color: #007acd !important;
        background: #e1f3ff !important;
        color: currentColor !important;
    }
}

.reusable__notification {
    position: relative !important;
    .container {
        padding: 0 !important;
    }
}


.root__notification {
    top: 8px;
    position: fixed;
    width: 100%;

    @include mobile-max(425px) {
        top: auto;
        bottom: 8px;
    }
    .o-box-info {
        display: flex;
        border-left: 8px solid #65605d;
        margin-bottom: 24px;
        background: #f6f5f4;
        border-radius: 6px;
        color: #65605d;
    }
    .o__media_block_icon {
        padding: 16px 0 16px 16px;
    }
    .o-box-info__content {
        padding: 16px;
        .o-info-title {
            color: colors(_black2);
        }
        p {
            margin: 0;
        }
    }
    
    .o-box-info__actions {
        padding: 0 16px 16px;
        button, .nav-link {
            background-color: transparent !important;
            color: colors(primary2);
            font-size: 16px;
            padding: 0;
        }
    }

}
// ? DISPLAY: NONE;

@media (min-width: 480px) {
    .container-fluid {
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media (min-width: 1280px) {
    .container-fluid {
        padding-right: 8.71%;
        padding-left: 8.71%;
    }
}

@media (min-width: 1600px) {
    .container-fluid {
        padding-right: 140px;
        padding-left: 140px;
    }
}

@media screen and (min-width: 768px) {
    section {
        padding-top: 20px;
        padding-bottom: 48px;
    }
}

@media screen and (min-width: 425px) {
    .zm--3 {
        zoom: 0;
    }
}
.zm--3 {
    zoom: 0.3 !important;
}
