.logo img {
  min-width: 32px;
  max-height: 24px;
}

.navbar {
  display: block;
  background-color: white;
}

.navbar .container {
  display: block;
  padding: 0px 123.938px;
}

.navbar ul {
  list-style-type: disc;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.navbar li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.navbar ol,
.navbar ul {
  list-style: none;
  padding: 0px 12px;
  margin: 0px 0px 0px 99.9219px;
}

.navbar .browse-dropdown-btn,
.navbar .btn {
  margin-bottom: 0;
  color: #65605d;
  font-size: 0.875rem;
  white-space: nowrap;
}

.navbar .tm-affiliates__sat-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0px 8px 0px 0px;
}

.navbar .tm-affiliates__sat-nav-link,
.navbar .tm-affiliates__sat-nav-link:active,
.navbar .tm-affiliates__sat-nav-link:hover,
.navbar .tm-affiliates__sat-nav-link:visited {
  color: #85807c;
}

.navbar .tm-affiliates__sat-nav-link:hover {
  text-decoration: underline;
}

.navbar .tm-affiliates__sat-nav-active-item,
.navbar .tm-affiliates__sat-nav-link {
  font-weight: 400;
  display: inline-block;
  padding: 8px;
  font-size: 0.75rem;
  line-height: 0.75rem;
  white-space: nowrap;
}

.navbar .logged-out__actions {
  margin-left: 199.84px;
}

.navbar .logged-out__actions .logged-out__register,
.navbar .logged-out__actions .logged-out__log-in {
  font-size: 0.75rem;
  color: #85807c;
  margin: 0 10px;
  text-decoration: underline;
}

.navbar #navbarNav {
  padding-top: 8px;
  margin: 0 -12px;
  width: 100%;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f5f4;
  padding-left: 12px;
  padding-right: 12px;
}

.navbar .main-nav__global-navigation {
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .main-nav__global-navigation .logo,
.navbar .main-nav__global-navigation .main-nav__browse-dropdown--home,
.navbar .main-nav__global-navigation .main-nav__member-options-list {
  margin: auto;
}

.navbar .main-nav__global-navigation .main-nav__browse-dropdown--home {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.navbar .main-nav__global-navigation .main-nav__member-options-list {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

@media screen and (min-width: 1280px) {
  .container {
    padding-right: 8.71%;
    padding-left: 8.71%;
  }
}

@media screen and (min-width: 480px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    width: 100%;
  }
  .navbar .container {
    padding: 0;
  }
  .navbar #navbarNav,
  .navbar .main-nav__browse-dropdown--home {
    display: none;
  }
}

@media screen and (min-width: 375px) {
  .logo {
    max-height: 24px;
  }
}

@font-face {
  font-display: swap;
  font-family: Story Sans;
  font-style: normal;
  font-weight: 700;
  src: url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Bold.eot.eot);
  src: url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Bold.eot#iefix) format("embedded-opentype"), url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Bold.woff2) format("woff2"), url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Bold.woff) format("woff"), url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Bold.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: Story Sans;
  font-style: normal;
  font-weight: 500;
  src: url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Medium.eot);
  src: url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Medium.eot#iefix) format("embedded-opentype"), url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Medium.woff2) format("woff2"), url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Medium.woff) format("woff"), url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Medium.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: Story Sans;
  font-style: normal;
  font-weight: 400;
  src: url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Regular.eot);
  src: url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Regular.eot#iefix) format("embedded-opentype"), url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Regular.woff2) format("woff2"), url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Regular.woff) format("woff"), url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Regular.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: Story Sans;
  font-style: normal;
  font-weight: 300;
  src: url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Light.eot);
  src: url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Light.eot#iefix) format("embedded-opentype"), url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Light.woff2) format("woff2"), url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Light.woff) format("woff"), url(//trademe.tmcdn.co.nz/tm/fonts/StorySansWeb-Light.ttf) format("truetype");
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #65605d;
  font-family: Story Sans, Helvetica Neue, Helvetica, Arial, Sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

blockquote,
body,
caption,
dd,
dl,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
legend,
ol,
p,
pre,
table,
td,
th,
ul {
  padding: 0;
  margin: 0;
}

.btn,
button {
  position: relative;
  width: 100%;
  min-width: 2rem;
  min-height: 2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: background-color, border-color, box-shadow, padding-top, padding-bottom, color;
  -webkit-transition-property: background-color, border-color, padding-top, padding-bottom, color, -webkit-box-shadow;
  transition-property: background-color, border-color, padding-top, padding-bottom, color, -webkit-box-shadow;
  transition-property: background-color, border-color, box-shadow, padding-top, padding-bottom, color;
  transition-property: background-color, border-color, box-shadow, padding-top, padding-bottom, color, -webkit-box-shadow;
  vertical-align: middle;
  background-color: transparent;
  color: #007acd;
  font-weight: 400;
  padding: 0.75rem 24px;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.container {
  margin: 0;
  padding: 0;
  padding-right: 16px;
  padding-left: 16px;
  width: 100%;
  max-width: 1593px;
  margin-right: auto;
  margin-left: auto;
}
/*# sourceMappingURL=index.css.map */